@import 'helper';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  font-family: $font-hei;
  font-size: 16px;
  background: #00020b;
}

.root {
  margin: auto 0;
  display: flex;
  flex-direction: column;

  .app {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 12px;

  span {
    //transform: scale(0.5);
    //transform-origin: center center;
  }
}
