@import '../shared/helper';

// 左右居中
%horizon-center-2620 {
  width: px(2620);
  margin: 0 auto;
}

.home {
  background-color: #010310;
  color: #fff;
  font-size: px(16);
  flex: 1;
  display: flex;
  flex-direction: column;

  > header {
    // 左右居中
    @extend %horizon-center-2620;
    height: px(99); // 设置该图片的像素高度 为参数即可 // width 默认为 100%
    background-size: cover; // 按原比例 缩放
  }

  > footer {
    height: px(68);
    margin-top: px(20);
    border: 1px solid #0d2d59;
    border-radius: 4px;
    background: #0c0d2b;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6px;
  }

  > main {
    // 左右居中
    @extend %horizon-center-2620;
    padding-top: px(30);
    flex: 1;
    display: grid;
    grid-template: 'box1 box2 box4 box5'
                    'box1 box2 box4 box5' 755fr
                    'box3 box3 box4 box5' 363fr / 366fr 748fr 811fr 747fr;
    grid-column-gap: px(28);
    grid-row-gap: px(28);

    $box-styles: (
      1: transparent,
      2: transparent,
      3: transparent,
      4: transparent,
      5: transparent,
    );
    // section1~5
    @each $key, $color in $box-styles {
      > .section#{$key} {
        grid-area: box#{$key};
        background-color: $color;
      }
    }

    > section {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .bordered {
      background-color: rgba(12, 17, 57, 0.8);
      border: 1px solid #0764bc;
      border-radius: 4px;
      position: relative;
      box-shadow: 0 0 2px 0 #0f3361,
      inset 0 0 2px 0 #0f3361;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: 4px;
        box-shadow: 17px 0 0 -16px #0f3361,
        -17px 0 0 -16px #0f3361,
        0 17px 0 -16px #0f3361,
        0 -17px 0 -16px #0f3361,
        9px 0 0 -8px #0d4483,
        -9px 0 0 -8px #0d4483,
        0 9px 0 -8px #0d4483,
        0 -9px 0 -8px #0d4483,;

      }

    }

    // 管辖统计 // 破案排名
    .jurisdictional-statistics,
    .case-solving-ranking {
      height: px(315);
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;

      h2 {
        flex-shrink: 0;
        border: 1px solid #0a5299;
        display: inline-block;
        border-top-left-radius: px(4);
        border-bottom-right-radius: px(4);
        font-size: px(22);
        line-height: px(24);
        padding: px(10) px(28);
        text-shadow: 0 0 px(3) #fff;

      }

      .chart {
        flex: 1;
        width: 100%;
      }
    }

    // 管辖统计
    .jurisdictional-statistics {
      height: px(315);

    }

    // 破案排名
    .case-solving-ranking {
      height: px(423);

      .legend {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        padding: 0 px(20) px(10);
        font-style: italic;

        > .first,
        > .second {
          display: inline-block;
          width: px(18);
          height: px(12);
          background: #f00;
          margin: 0 px(10);
        }

        .first {
          background: linear-gradient(90deg, #2034f9 0%, #04a1ff 100%);
        }

        .second {
          background: linear-gradient(90deg, #b92ae8 0%, #6773e7 100%);
        }

      }
    }

  }

  .label-text {
    transform: scale(0.6);
    white-space: nowrap;
  }
}
